/*h1,img{
display:inline-block;
padding-bottom: 30px;
}

.datoscea{
	display: inline-block;
	width: 45%;
	height: 115px;
}

.parrafocea{
	font-family: "Arial";
	font-size: 13px;
	font-weight:bold;
	text-decoration: none;

}
.tablaf
{
	border: solid;
}
.tblfracciona{
	display: inline-block;
	border: solid;
	width:53%;
	height: 115px;
}
*/


