body{
    background-color: #E7E2E1; 
    font-family: Avenir Next, Avenir, SegoeUI, sans-serif;

}    

img{max-width: 100%}

#numCaso:hover
{
	color:#12e6e6;
}

.error,.exito
{
	background: red;
	color: white;
	padding: 1em;
}

.exito{background: green;}

.mistrong:hover{
	color: #0209ea;
}

.navcea{
	background: #028bea;
}

.cat{
	width: 120px;
}

.obligado{
	color: red;
	font-size: 17px;
}

.container{ 
    max-width: 100% !important;
    padding: 25px;
}

.inputsCo{
    width: 190px;
}

/*estilo de los radios*/
.form-register input[type="radio"],
.form-register input[type="checkbox"]{
    display: none;
}

.form-register .radio label,
.form-register .checkbox label{
    color: #0074D9;
    background: rgba(0,0,0,.1);
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition: all 0.3s ease;
}

.form-register .radio label:hover,
.form-register .checkbox label:hover{
    background: rgba(0,116,217,0.1);
}

.form-register .radio label:before,
.form-register .checkbox label:before{
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid #0774D9;
    border-radius: 50%;
    position: absolute;
    left: 19px;
    top:  6px;
}


.form-register .checkbox label:before{
    border-radius: 3px;
}

.form-register input[type="radio"]:checked + label,
.form-register input[type="checkbox"]:checked + label{
    padding: 5px 15px;
    background: #0074D9;
    border-radius: 2px;
    color: #fff;

}

.form-register input[type="radio"]:checked + label:before,
.form-register input[type="checkbox"]:checked + label:before{
    display: none;
}

/* fin estilo de los radios*/

/**********File Inputs**********/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {

    max-width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
    font-size:16px; 
    font-weight:normal;
    font-family: 'Lato';
}


/* style 7 */

.inputfile-7 + label {
    color: #000;
}

.inputfile-7 + label {
    border: 1px solid #3393ff;
    font-size: 1rem;
    background-color: #fff;
    padding: 0;
    transition: 0.3s
}


.inputfile-7 + label:hover {
    border-color: #3393ff;
    background-color: #3393ff;
    color: #fff;
}

.inputfile-7 + label span,
.inputfile-7 + label strong {
    text-align: center;
    padding: 0.25rem 1.25rem;
}

.inputfile-7 + label span {
    width: 350px;
    min-height: 1em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.fas{
    margin-right: 10px;
}

.inputfile-7 + label strong {
    height: 100%;
    color: #fff;
    background-color: #c39f77;
    display: inline-block;
}

.inputfile-7:focus + label strong,
.inputfile-7.has-focus + label strong,
.inputfile-7 + label:hover strong {
    background-color: #9f8465;
}

@media only screen and (max-width: 991px){
    
    .inputfile-7 + label span {
    width: 200px;
    min-height: 1em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}
}


@media screen and (max-width: 50em) {
    .inputfile-7 + label strong {
        display: block;
    }
}
/**********End File Inputs**********/
.aviso{
	color: red;
	font-size: 19px;
}

.alert{
	left: 0;
	width: 605px;
	text-align: center;
    background: #f8d7da;
    font-size: 17px;
    font-family: sans-serif;
    display: block;
    margin: 2px;

    
}



