body{
  margin:0;
  padding: 0;
}
h2,img{
  display: inline-block;
  padding-bottom:20px;
}

.text-center{
  text-align: center;
}

table {
   width: 100%;

}

.info{
  font-size: 12px;
}

table.fraccionamiento {
  font-size: 15px;
  text-align:left;
  border: black 1px solid;
  border-collapse: collapse;
}

table td.titulofraccionamiento{
  margin-top: 0;
  padding: 1px;
  color: #fff;
  background-color: #000000;
  text-align: right;
}

td.titulofraccionamiento {
   width: 100%;
   text-align: right;
   border: 1px solid #000;
}


table.DatosGenerales {
  font-size: 15px;
  text-align:left;
  border: black 1px solid;
  border-collapse: collapse;
}

td.tituloDatosGenerales {
   width: 100%;
   text-align: left;
   border: 1px solid #000;
}

table td.tituloDatosGenerales{
  color: #fff;
  font-size: 15px;
  background-color: #000000;
}

table.representante {
  text-align:left;
  border: black 1px solid;
  border-collapse: collapse;
}

table.DatosPredio {
  margin-top: 10px;
  text-align:left;
  border: black 1px solid;
  border-collapse: collapse;
}

td.tituloDatosPredio {
   width: 100%;
   text-align: left;
   border: 1px solid #000;
}

table td.tituloDatosPredio{
  color: #fff;
  background-color: #000000;
}

table.DatosSolicitud {
  text-align:left;
  border: black 1px solid;
  }

td.tituloDatosSolicitud {
   text-align: left;
   border: 1px solid #000;
}

table td.tituloDatosSolicitud{
  color: #fff;
  background-color: #000000;
}


.DatosGenerales td{
    padding: 0.5px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    border-left: 0px;

}

.DatosPredio td {
    padding: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    border-left: 0px;
}

/*.pin{
  border: 1px solid black;
  
}*/

.trReq{
  background: black;
}

.pin td{
  border-collapse: collapse;
}

.colPin1{
  width: 125px;
}

.DatosDocumento{
  width: 490px;
  border: 1px solid;
  border-collapse: collapse;
}

.DatosDocumento td{
  border: 1px solid;
}

.colDoc{
     width: 380px
}

.colent{
    width: 110px
}


 .DatosReqAgua td{
  border: 1px solid;
 }

.titulore{
  color: white;
}

.folioc{
  margin: 0;
  color: red;
}

.divuno{
height: 40px;
width: 200px;
float:left;
}

.divdos{
height: 40px;
width: 200px;
float:left;
margin-left: 290px; 
} 