.minav{
	background-color: #3393FF !important;
}

.btn-agrega{
	background-color: #3393FF;
	color: white !important;
	margin: 5px;
}

.btn-agrega:hover{
	background-color: #277cd8;
}

/*#btn_enviar{
	display: inline-block;
}*/

.correo{
	width: 320px !important;
}
.rep
{
	width:500px;
}

.siguiente
{
	display: none;
}

